<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mm.backend.dao.DistinctTagMapper" >
  <resultMap id="BaseResultMap" type="com.mm.backend.pojo.DistinctTag" >
    <constructor >
      <arg column="tag" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap" >
    select
    tag
    from distinct_tag
    limit 50
  </select>

  <insert id="insert" parameterType="com.mm.backend.pojo.DistinctTag" >
    insert into distinct_tag (tag)
    values (#{tag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mm.backend.pojo.DistinctTag" >
    insert into distinct_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tag != null" >
        tag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>